div{
    padding: 5px;
    margin: 5px;
}


#astralProfil{
    position: relative;
    left: 0%;
    width:90%;
    padding:5px;
    border: 1px solid black;
}
#right{
    padding:10px;
    margin: 15px;
    border: 1px solid black;
    min-height: 250px;
}


#HistConsultations{

    border: 1px solid black;
    min-height: 250px;
}